.photo-grid_place_intro {
  margin: 92px auto;
}

@media screen and (max-width:1023px) {
  .photo-grid_place_intro {
    margin: 88px auto;
  }
}

@media screen and (max-width:767px) {
  .photo-grid_place_intro {
    margin: 64px 0;
  }
}