.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  max-width: 1184px;
  box-sizing: border-box;
  margin: 0 auto;
  justify-items: center;
}



@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 320px;
    gap: 12px;
    padding: 0 16px;
  }
}