.photo-grid__image {
  width: 284px;
}

@media screen and (max-width: 1279px) {
  .photo-grid__image {
    width: 300px;
  }
  
}

@media screen and (max-width: 1023px) {
  .photo-grid__image {
    width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__image {
    width: 288px;
  }
}