.cover-trains__link {
  text-decoration: none;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  height: 100%;
}

.cover-trains__link::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(42,44,47,0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 0.5s;
}

.cover-trains__link:hover::before {
  background-color: rgba(42,44,47,0.8);
}