.block-narrow {
  max-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 48px;
}

@media screen and (max-width:1279px) {
  .block-narrow {
  max-width: 100%;
  }
}

@media screen and (max-width:1023px) {
  .block-narrow {
  padding: 0;
  }
}