.page {
  /* min-width: 1100px; */
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /* max-width: 1600px; */
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
 /* font-family: 'Helvetica Neue', Arial, sans-serif;*/
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  text-align: center;
  color: #fff;
  /* Сглаживаем шрифты */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  background: #2A2C2F;
}
