.place_position_not-last {
  margin-bottom: 80px;
}

@media screen and (max-width: 1023px) {
  .place_position_not-last {
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place_position_not-last {
    margin-bottom: 50px;
  }

  .place_position_not-last:last-child {
    margin-bottom: 66px;
  }

}

